html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #1e1e1e;
	overflow: hidden;
}

#info {
	float:left;
	width: 100%;
	color: white;
	background-color: rgba(23, 23, 23, 1);
	font-weight: 600;
	margin: 0;
	padding: 0;
}

#info p {
	margin-left: 30px;
}

#chat {
	height: 50%;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	overflow-y: scroll;
	padding-right: 17px;
	background-color: rgba(23, 23, 23, .5);
}

#chat li {
	padding: 5px 12px;
	color: white;
	font-family: Arial, Sans-Serif;
	font-weight: 500;
}

#msgBox {
	top: 60%;
	float:left;
	height: 35px;
	width: 82.5%;
	margin-top: 10px;
	margin-left: 5%;
	padding: 5px 12px;
	color: white;
	font-size: 18px;
	background-color: rgba(23, 23, 23, .8);
	border: none;
}

#submit {
	width: 75px;
	height:45px;
	margin: none;
	float:left;
	color: white;
	margin-top: 10px;
	background-color: rgba(23, 23, 23, 1);
	border: none;
}

.username {
	font-weight: 700;
	color: white;
}

.link {
	text-decoration: none;
	color: #AB3456;
	font-weight: 450;
}

.link:hover {
	color: #992e4d;
}

.ip {
	color: #fd4b79;
	font-weight: 900;
}

.alert {
	color: #fd4b79;
	font-weight: 600;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}