body {
	background-color: #FFCCFF;
	padding: 0px 0px;
	margin: 0px 0px;
}

#chat {
	padding: 12px 0px;
	background-color: #c6a0c6;
	list-style: none;
}

#chat li {
	font-family: Arial, Sans-Serif;
	font-weight: 500;
	padding: 5px 12px;
	color: #ffe6ff;
}

#msgBox {
	top: 60%;
	height: 35px;
	width: 82.5%;
	margin-top: 0px;
	margin-left: 5%;
	background-color: #1e1e1e;
	opacity: 0.4;
	color: white;
	font-size: 18px;
	border: none;
	float:left;
	padding: 5px 12px;
}

#submit {
	color: white;
	border: none;
	margin: none;
	width: 5%;
	height:45px;
	float:left;
	opacity: .6;
	background-color: #1e1e1e;
}

.username {
	font-weight: 700;
	color: white;
}