<!doctype html>
<html>
	<head>
		<title>FRICK</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"> 
	</head>
	<body>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
		</script>
		<script>		
			var submitPost = function() {
				var msgBox = document.getElementById('msgBox');
				var msgForm = document.getElementById('msgForm');
				var msg = msgBox.value.trim();
				if (msg) {
					socket.emit('chat message', socket.id + ' ' + msg);
					msgBox.value = '';
				}
			}
		</script>
		<div id='info'>
			<p>Connected to <span class='ip'>{{ localip }}</span></p>
		</div>
		<nav>
			<ul id='chat'>
				
			</ul>
		</nav>
		<form id='msgForm' onsubmit='submitPost();return false'>
			<input type='text' name='msg' id='msgBox' autocomplete='off'>
			<input type='submit' name='submit' id='submit' value='SEND'>
		</form>
		<script>
			var chat = document.getElementById('chat');
			
			socket.on('give local ip', function(ip) {
				localIP.innerHTML = '<b>'+ip+'</b>';
			});
		
			socket.on('chat message', function(msg) {
				var msgStart = msg.indexOf(' ');
				var user = msg.substring(0, msgStart-1);
				console.log(user);
				console.log(msg.substring(msgStart, msg.length));
				var node = document.createElement('li');
				node.innerHTML = ("<span class='username'>" + user + "</span>" + "<span class='msg'>" + msg.substring(msgStart, msg.length)) + " </span>";
				node.innerHTML = node.innerHTML.replace(/(https?:\/\/[^\s]+)/g, function(url) {
					return '<a class="link" href="' + url + '">' + url + '</a>';
				});
				chat.appendChild(node);
				chat.scrollTop = chat.scrollHeight;
			});
		</script>
	</body>
</html>